* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html,
body {
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
}

@import './fonts';
@import './veriables';
@import './mixins';
@import './container';
@import './all-block/header';
@import './all-block/main';
@import './all-block/footer';
@import 'all-block/placeholder';    