.footer {
    max-width: 100%;
    height: 300px;
    background-color: #485567;
    margin-top: 104px;
    .footer__content {
        padding: 102px 0;
        display: flex;
        position: relative;
        justify-content: space-between;
        h2 {
            max-width: 445px;
            font-weight: 600;
            font-size: 48px;
            line-height: 48px;
            color: #fff;
        }
        .footer__img-two {
            position: absolute;
            margin: 40px 260px;
        }
        .footer__imafes-1 {
            transition: all 0.4s;
        }
        .footer__imafes-1:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
        .footer__imafes-1:active {
            transform: scale(1.1);
        }
    }
}
@media (max-width: 768px) {
    .footer {
        .footer__content {
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding: 62px;
            h2 {
                max-width: 457px;
                margin-bottom: 40px;
            }
        }
    }
}
@media (max-width: 576px) {
    .footer {
        .footer__content {
            h2 {
                max-width: 311px;
                font-size: 32px;
                line-height: 32px;
            }
            .footer__img img+ img {
                max-width: 120px;
            }
            .footer__img img {
                max-width: 100px;
            }
        }
    }
}
.footer__end {
    max-width: 100%;
    height: 96px;
    background-color: #333A44;
    color: #fff;
    .footer__the-end {
        padding: 32px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer__iteam {
            display: flex;
            align-items: center;
            column-gap: 58px;
        }
        .footer__link {
            display: flex;
            align-items: center;
            column-gap: 32px;
        }
        .footer__link a {
            text-decoration: none;
            color:#939CAA;
        }
        .footer__icons {
            display: flex;
            align-items: center;
            column-gap: 24px;
        }
    }
}
@media (max-width: 576px) {
    .footer__end {
        height: 438px;
        .footer__the-end {
            flex-direction: column;
            .footer__iteam {
                flex-direction: column;
                img {
                    margin-bottom: 41px;
                }
            }
            .footer__link {
                flex-direction: column;
                row-gap: 16px;
                margin-bottom: 167px;
            }
        }
    }
}